Source: libleeloo
Priority: optional
Maintainer: Adrien Guinet <aguinet@quarkslab.com>
Build-Depends: debhelper (>= 8.0.0), cmake, libtbb2-dev, dh-exec, cdbs, libboost-all-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://quarkslab.com
Vcs-Browser: https://github.com/quarkslab/libleeloo.git

Package: libleeloo-dev
Section: libdevel
Architecture: any
Depends: libleeloo (= ${binary:Version}), libtbb2-dev
Description: Library to manage big sets of integers - development files
 leeloo library development files
 . 
 leeloo is a C++ library that helps manages big sets of integer intervals.
 .
 It can easily aggregate them into the smaller set possible, dump and/or read
 intervals from binary files and generate a random order of the integers
 represented.
 .
 It can specifically be used for managing IPv4 ranges. A parser is provided, so
 that intervals can be specified as CIDR ranges, or with a dash/dot notation
 (like 192.168.4-9.10-254).

Package: libleeloo
Section: libs
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libtbb2
Description: Library to manage big sets of integers
 leeloo is a C++ library that helps manages big sets of integer intervals.
 . 
 It can easily aggregate them into the smaller set possible, dump and/or read
 intervals from binary files and generate a random order of the integers
 represented.
 .
 It can specifically be used for managing IPv4 ranges. A parser is provided, so
 that intervals can be specified as CIDR ranges, or with a dash/dot notation
 (like 192.168.4-9.10-254).

Package: libleeloo-dbg
Section: libs
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libleeloo
Description: Library to manage big sets of integers - debug symbols
 leeloo library debug symbols
 .
 It can easily aggregate them into the smaller set possible, dump and/or read
 intervals from binary files and generate a random order of the integers
 represented.
 .
 It can specifically be used for managing IPv4 ranges. A parser is provided, so
 that intervals can be specified as CIDR ranges, or with a dash/dot notation
 (like 192.168.4-9.10-254).

Package: leeloo-tools
Section: utils
Architecture: amd64
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, libleeloo 
Description: Library to manage big sets of integers
 leeloo is a C++ library that helps manages big sets of integer intervals.
 . 
 It can easily aggregate them into the smaller set possible, dump and/or read
 intervals from binary files and generate a random order of the integers
 represented.
 .
 It can specifically be used for managing IPv4 ranges. A parser is provided, so
 that intervals can be specified as CIDR ranges, or with a dash/dot notation
 (like 192.168.4-9.10-254).
 .
 This package provides various tools using libleeloo.
